
<div class="vertical-menu">
     

    <a routerLink = "/" class="item">
      <i class="home icon"></i>
      Dashboard
    </a>
    <a routerLink = "/cloud" class="item">
      <i class="cloud icon"></i>
      Cloud
    </a>
    <a routerLink = "/cloud" class="item">
        <i class="certificate icon"></i>
        Compliance
      </a>
      <a routerLink = "/cloud" class="item">
        <i class="file icon"></i>
        Reports
      </a>
    <a class="item">
        <i class="setting icon"></i>
        Settings
      </a>
    <a class="item">
      <i class="help icon"></i>
      Help
    </a>
  
</div>

