<header fxLayoutAlign="space-between">
    <div >
        <i class="cloud icon"></i>
        Compliance Analysis for Cloud
    </div>
    <div fxLayout = "row" heigh>
        <div class="ui fluid category search">
            <div class="ui icon input" style="height: 25px !important;">
              <input class="prompt" type="text" placeholder="">
              <i class="search icon"></i>
            </div>
            <div class="results"></div>
          </div>
    </div>
    <div>
        user@spryiq.co
    </div>
</header>
